<!DOCTYPE html>
<html>
<head>
  <title>Appian</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %>
<%= link_to "Repositories", repositories_path %>
<% if user_signed_in? %>
<%= current_user.name %> (<%= link_to 'edit', edit_user_registration_path %> <%= link_to 'logout', destroy_user_session_path, :method => :delete %>)
<% end %>
<%= yield %>

</body>
</html>
